<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <div>
      <ul class="flex space-x-8">
        <li>
          <a routerLink="/" class="text-white hover:text-gray-300">Home</a>
        </li>
        @if (user) {
        <li *appIsGrantedRole="roles.Developer">
          <a routerLink="/project" class="text-white hover:text-gray-300">
            Project
          </a>
        </li>
        <li *appIsGrantedRole="roles.HRManager">
          <a routerLink="/employee" class="text-white hover:text-gray-300">
            Employee
          </a>
        </li>
        <li *appIsGrantedRole="roles.FinanceManager">
          <a routerLink="/finance" class="text-white hover:text-gray-300">
            Finance
          </a>
        </li>
        <li *appIsGrantedRole="roles.Admin">
          <a routerLink="/admin" class="text-white hover:text-gray-300">
            Admin
          </a>
        </li>
        }
      </ul>
    </div>

    <div class="flex items-center text-white">
      @if(user) {
      <div class="">User: {{ user.username }}</div>
      }
    </div>
  </div>
</nav>

<router-outlet />
